<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
>
  <testsuites>
    <testsuite name="controller.http">
      <directory>tests/Controller/Http</directory>
    </testsuite>
    <testsuite name="service">
      <directory>tests/Service</directory>
    </testsuite>
  </testsuites>
</phpunit>
